<md-dialog class="fill col">
    <div class="row header align-start-center">
        <p class="flex">Funnel {{funnel_name}}</p>
        <div class="row img32 radius-default back-gray align-center-center ripple" ng-click="close()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="col content m16">
        <div class="row"
             ng-repeat="(key, val) in data.funnel">
            <div class="flex">
                {{key}}
            </div>
            <div class="flex row align-center back-green"
                 ng-style="{'max-width': (val / data.sessions * 100) + '%'}">
                {{val}}
            </div>
        </div>
        <div class="row mt16 size16 bold align-center">
            Success {{formatPercent(data.success_percent, 2)}}
        </div>
        <p>Other funnels:</p>
        <div class="button"
             ng-repeat="(key, val) in funnels"
             ng-click="openFunnel(key)">{{key}}</div>
    </div>
</md-dialog>