<md-bottom-sheet class="col">
    <div class="row header align-start-center">
        <p class="flex">{{str.reviews}}</p>
        <div class="row align-center-center img32 back-gray radius-default ripple" ng-click="back()">
            <img class="img16 img-gray400" src="/mfm-wallet/img/close.svg">
        </div>
    </div>
    <div class="col content input-content">
        <p>{{str.please_leave_feedback}}</p>
        <textarea class="radius8" cols="30" rows="3" ng-model="message" placeholder="Type your feedback here..."></textarea>
        <div class="row mg16 gap16">
            <div class="flex m0 primary-button back-red" ng-click="dislike(message)">
                <img class="img40 img-white"
                     src="/mfm-wallet/img/dislike.svg">
            </div>
            <div class="flex m0 primary-button back-green" ng-click="like(message)">
                <img class="img40 img-white"
                     src="/mfm-wallet/img/like.svg">
            </div>
        </div>
    </div>
</md-bottom-sheet>